@import "../_variable.scss";
.products__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: $header-h + 2rem;

 
}
