.products__container {
    padding-top: 10px;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  //  grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    @media screen and (max-width: 760px) {
        grid-template-columns: repeat(3, 1fr);
    }
      
}
